<div class="merchants">
  <ul>
    <% for @merchant.each do | merchant | %>
    <li>

      <a href="/merchants/index/<%= @merchant.id %>">
      <%= @merchant.id %>
    </a>

    </li>
    <%end%>
  </ul>
</div>
