<div class="merchants">

  <h2><i class="fas fa-store-alt"></i> Merchants</h2>

  <h3 class="new-merchant-button"><a href="/merchants/new"><i class="fas fa-plus-circle"></i> Create new merchant</a></h3>

  <ul>
    <% @merchants.each do | merchant | %>
    <li class="merchant-list">
      <h3><%= merchant.merchant_name %></h3>
      <a href="/merchants/<%= merchant.id%>/edit"> (Edit)</a>

      <form class="merchant-delete-button" action="/merchants/<%= merchant.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete this merchant.">
      </form>

    </li>
    <%end%>
  </ul>
</div>
