<div class="merchants">
  <ul>
    <% @merchants.each do | merchant | %>
    <li>
      <p><%= merchant.merchant_name %></p>
      <a href="/merchants/<%= merchant.id%>/edit"> (Edit)</a>
    </li>
    <%end%>
  </ul>
</div>
