<div class="merchants-new">

  <h2><i class="fas fa-store-alt"></i> Create new merchant</h2>

  <div class="merch-cat-input-div">

    <form class="" action="/merchants" method="post">

    <label for="merchant_name">Merchant Name:</label>
    <input class="merch-cat-input" id="merchant-name" type="text" name="merchant_name"/>

    <input class="merch-cat-save" type="submit" value="Save"/>

    </form>

  </div>

</div>
