<div class="merchants-new">

  <h2><i class="fas fa-store-alt"></i> Create new merchant</h2>

  <form class="" action="/merchants" method="post">

  <label for="merchant_name">Merchant Name:</label>
  <input id="merchant-name" type="text" name="merchant_name"/>

  <input type="submit" value="Save Merchant"/>

  </form>

</div>
