<form class="POST" action="/merchants">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="merchant_name">Name of new merchant:</label>
      <input type="text" name="merchant_name" value="merchant_name">
    </div>

    <div class="form-el">
      <input type="submit" value="Save">
    </div>

  </div>
</form>
