* {
  align-content: center;
}

body{
  position: relative;
  background-color: #00263e;
  background-image: url("/images/back-fade.jpg");
  background-position: top;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  margin: 1% 10%;
  font-family: 'Montserrat', sans-serif;
  color: linen;
  min-width: 500px;
  max-width: 1500px;
}

body::after{
  opacity: 0.5;
  z-index: -1;
}

/* ---------------- */

.container{
  width:1000px;
}

.categories{
  width:1000px;
}

a, a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  margin-top: -10px;
  margin-bottom: -10px;
  list-style-type: none;
  font-size: 0.8rem;
}

hr{
  margin-bottom: 20px;
  margin-top: 20px;
  color: lightblue;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-weight: bolder;
  color: white;
  text-decoration: underline;
  font-size: 1.75rem;
}

h2 {
  margin-top: 5%;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.1em;
  color: white;
}

h3 {
  margin: inherit;
  margin-top: 5%;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  color: white;
}

h6 {
  margin-top: inherit;
  padding-top: 50px;
  font-family: 'DM Serif Display', serif;
  color: white;
  font-size: 5rem;
}

ul {
  display: inline;
}

.check-button{
  background-color: #a32136;
  margin: inherit;
  padding: 20px;
  width: 25%;
  border-radius: 20px;
  border-color: linen;
  border-style: solid;
  border-width:2px;
  font-family: 'Roboto';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}

.new-transaction-button{
  background-color: linen;
  color: #a32136;
  margin: inherit;
  padding: 1%;
  width: 25%;
  border-radius: 20px;
  border-color: linen;
  border-style: solid;
  border-width:2px;
  font-family: 'Roboto';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}

.new-merchant-button, .new-category-button, .total-transactions-button{
  color: linen;
  margin: inherit;
  padding: 1%;
  width: 25%;
  border-radius: 20px;
  border-color: linen;
  border-style: solid;
  border-width:2px;
  font-family: 'Roboto';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}

.transactions-sub{
  display: flex;
  text-align: center;
  text-decoration: none;
  justify-content: space-between;
}

.transactions-index{
  max-width: 1000px;
}

div.transaction-form{
  background-color: #00263e;
  margin-top: 25px;
  border: 1px solid linen;
  padding: 10px;
  }

div.amount-and-date{
display: flex;
}

div.new-trans-amount, div.new-trans-date, div.new-trans-merchant, div.new-trans-category {
  margin-top: inherit;
  padding:10px;
  height: 25px;
  font-family: 'DM Serif Display', serif;
  color: white;
  font-size: 2rem;
}

.merchant-id-input {
  margin-top: 40px;
  padding-top: 20px;
  height: 15px;
  font-family: 'DM Serif Display', serif;
  color: white;
  font-size: 2rem;
}

div.merchant-and-category{
  display: flex;
  margin: 10px 0;
  }

input[type=text]  {
  /* width: 1fr; */
  /* padding: 12px 20px; */
  margin: 10px;
  box-sizing: border-box;
}

#amount{
  width: 2fr;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type=select] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type=date] {
  width: 3fr;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
} */

input[type=submit] {
  margin: 20px 0;
  background-color: #578e3b;
  height: 2em;
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  width: 100%;
}

/* NEW TRANSACTION PAGE END */

div.date-filter {
  text-transform: uppercase;
  margin: 3% 0;
}

table {
  /* display: flex;
  justify-content: center; */
  background-color: #00263e;
  margin-top: 25px;
  border: 1px solid linen;
  padding: 10px;
  width: 1000px;
  padding: 2%;
  line-height: 150%;
  /* max-width: 1200px; */
}

td {
  border: 2px dotted #2E4057;
}


p.merchants-index{
  width:1000px;
}

.merchants-list{
  font-size: 2rem;
}

li.merchant-list, li.category-list{
    margin-top: -3%;
}

.date{

}

.user-list{
  position: inherit;
  margin-top: -5%;
}

/* .user-edit-button{
  color: linen;
  margin-top: 20px
  padding: 2px;
  width: 25%;
  border-radius: 10px;
  border-color: linen;
  border-style: solid;
  border-width:2px; */

}
