* {
  align-content: center;
}

body{
  position: relative;
  background-color: #00263e;
  background-image: url("/images/back-fade.jpg");
  background-position: top;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  margin: 1% 10%;
  font-family: 'Montserrat', sans-serif;
  color: linen;
  min-width: 500px;
  max-width: 1500px;
}

body::after{
  opacity: 0.5;
  z-index: -1;
}

/* ---------------- */

.container{
  width:1000px;
}

a, a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  margin-top: -10px;
  margin-bottom: -10px;
  list-style-type: none;
  font-size: 0.8rem;
}

hr{
  margin-bottom: 20px;
  margin-top: 20px;
  color: lightblue;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-weight: bolder;
  color: white;
  text-decoration: underline;
  font-size: 1.75rem;
}

h2 {
  margin-top: 5%;
  margin-bottom: 2%;
  font-family: 'DM Serif Display', serif;
  font-weight: bolder;
  font-weight: 300;
  font-size: 3rem;
  color: white;
}

h3 {
  margin: inherit;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  color: white;
}

h4 {
  font-size: 1rem;
}
h6 {
  margin-top: inherit;
  padding-top: 50px;
  font-family: 'DM Serif Display', serif;
  color: white;
  font-size: 5rem;
}

ul {
  display: inline;
}

.check-button{
  background-color: #a32136;
  margin: inherit;
  padding: 20px;
  width: 25%;
  border-radius: 20px;
  border-color: linen;
  border-style: solid;
  border-width:1px;
  font-family: 'Roboto';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}

.new-transaction-button{
  background-color: linen;
  color: #a32136;
  margin: inherit;
  padding: 1%;
  width: 25%;
  border-radius: 10px;
  border-color: linen;
  border-style: solid;
  border-width:1px;
  font-family: 'Roboto';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}

.new-merchant-button,
.new-category-button,
.total-transactions-button{
  color: linen;
  margin: inherit;
  padding: 1%;
  width: 25%;
  border-radius: 10px;
  border-color: linen;
  border-style: solid;
  border-width:1px;
  font-family: 'Roboto';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}

.transactions-sub{
  display: flex;
  text-align: center;
  text-decoration: none;
  justify-content: space-between;
}

div.transaction-filters{
  background-color: #00263e;
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  border-color: linen;
  border-style: solid;
  border-width:1px;
  font-size: 0.8rem;
}

.date-form, .category-filter-form {

  display: flex;
  align-self: center;
}


div.date-filter, div.category-filter{
  text-transform: uppercase;
  justify-content: space-between;
  align-content: center;
  }

div.transaction-filters-inner{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.transaction-form{
  display: flex;
  background-color: #00263e;
  margin-top: 25px;
  border: 1px solid linen;
  border-radius: 10px;
  padding: 10px;
}

div.amount-and-date{
  display: flex;
}

div.new-trans-amount,
div.new-trans-date,
div.new-trans-merchant,
div.new-trans-category {
  margin-top: inherit;
  padding:10px;
  height: 25px;
  font-family: 'DM Serif Display', serif;
  color: white;
  font-size: 2rem;
}

.filter-search-button {
    margin: 10px;
    font-family: 'Montserrat';
    font-size: 0.65rem;
    padding: 4px;
    color: linen;
    background-color: #00263e;
    border: 1px solid linen;
    border-radius: 5px;
    text-transform: uppercase;
}

.date-search-form{
  margin: 0 10px;
  align-self: center;
  justify-content: center;
  height:20px;
}

div.category-edit-button,
div.merchant-edit-button,
div.user-edit-button {
  align-self: center;
  padding:10px;
  height: 18px;
  background-color: #00263e;
  color: linen;
  border: 1px solid linen;
  border-radius: 5px;
  text-transform: uppercase;
}

.merchant-delete-button,
.category-delete-button {
    margin-left: 10px;
    margin-top: 4px;
    font-family: Montserrat;
    font-size: 1rem;
    background-color: #a32136;
    padding: 9px;
    color: linen;
    border: 1px solid linen;
    border-radius: 5px;
    text-transform: uppercase;
}

.merchant-id-input,
.category-id-input {
  margin-top: 40px;
  padding-top: 20px;
  height: 15px;
  font-family: 'DM Serif Display', serif;
  color: white;
  font-size: 2rem;
}

div.merchant-and-category{
  display: flex;
  margin: 10px 0;
  }

div.merchant-list-full,
div.category-full-list{
  margin-top:inherit;
  width: 100%;
}

li.merchant-list,
li.category-list,
li.user-list{
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

div.merchant-edit-options,
div.category-edit-options,
div.user-edit-options{
  display: flex;
}

table {
  background-color: #00263e;
  margin-top: 25px;
  padding: 10px;
  width: 100%;
  padding: 2%;
  border-radius: 10px;
  border-color: linen;
  border-style: solid;
  border-width:1px;
}

td {
  border: 1px dotted #2E4057;
}


.merchants-list{
  font-size: 2rem;
}

li.merchant-list, li.category-list, li.user-list{
  list-style-type: none;
  margin: 1%;
  color: linen;
  padding: 10px;
  width: 1fr;
  border-radius: 10px;
  border-color: linen;
  border-style: solid;
  border-width:1px;
}
