<div class="categories">
  <ul>
    <% @categories.each do | category | %>
    <li>
      <p><%= category.transaction_type %></p>
      <a href="/merchants/<%= category.id%>/edit"> (Edit)</a>
    </li>
    <%end%>
  </ul>
</div>
