<div class="categories">

    <h2><i class="fas fa-tags"></i> Categories</h2>

    <h3 class="new-category-button"><a href="/categories/new"><i class="fas fa-plus-circle"></i> Create new category</a></h3>

  <ul class="category-list">
    <% @categories.each do | category | %>
    <li>
      <h3><%= category.transaction_type %></h3>
      <a href="/categories/<%= category.id%>/edit"> (Edit)</a>

      <form class="" action="/categories/<%= category.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete this category.">
      </form>

    </li>
    <%end%>
  </ul>
</div>
