<div class="categories">

    <h2><i class="fas fa-tags"></i> Categories</h2>

    <h3 class="new-category-button"><a href="/categories/new"><i class="fas fa-plus-circle"></i> Create new category</a></h3>

      <div class="category-list-full">

        <ul>
          <% @categories.each do | category | %>
          <li class="category-list">
            <h3><%= category.transaction_type %></h3>

            <div class="category-edit-options">
              <div class="category-edit-button">

                <a href="/categories/<%= category.id%>/edit"> Edit</a>

              </div>

              <form id="delete_button" action="/categories/<%= category.id %>" method="post">

                <input type="hidden" name="_method" value="delete">
                <input class="category-delete-button" type="submit" value="Delete">
              </form>

            </div>

          </li>
          <%end%>
        </ul>
      </div>
</div>
