<form class="POST" action="/categories">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="transaction_type">Type of Transaction:</label>
      <input type="text" name="transaction_type" value="transaction_type">
    </div>

    <div class="form-el">
      <input type="submit" value="Save">
    </div>

  </div>
</form>
