<div class="">


<form class="" action="/categories" method="post">

<label for="transaction_type">Category:</label>
<input id="transaction-type" type="text" name="transaction_type"/>

<input type="submit" value="Save Category"/>

</form>

</div>
