<div class="category-new">

  <h2><i class="fas fa-tags"></i> Create new category</h2>

  <div class="merch-cat-input-div">

    <form class="" action="/categories" method="post">

    <label for="transaction_type">Category name:</label>
    <input class="merch-cat-input" id="transaction-type" type="text" name="transaction_type"/>

    <input class="merch-cat-save" type="submit" value="Save"/>

    </form>

  </div>

</div>
