<div class="category-new">

  <h2><i class="fas fa-tags"></i> Create new category</h2>

  <form class="" action="/categories" method="post">

  <label for="transaction_type">Category name:</label>
  <input id="transaction-type" type="text" name="transaction_type"/>

  <input type="submit" value="Save Category"/>

  </form>

</div>
