<div class="users-edit">

  <h2><i class="fas fa-cog"></i> Edit your details</h2>


  <div class="merch-cat-input-div">

    <form class="" action="/users/<%= @users.id %>" method="post">

      <input type="hidden" name="_method" value="put">
      
      <label for="user-name">User Name:</label>
      <input class="merch-cat-input" id="user-name" type="text" name="user_name" value="<%= @users.user_name %>"/>

      <label for="funds">Funds:</label>
      <input class="funds-input" id="funds" type="text" name="funds" value="<%= @users.funds %>"/>

      <input class="merch-cat-save" type="submit" value="Update"/>

    </form>

  </div>

</div>
