<div class="users">

  <h2><i class="fas fa-cog"></i> User Settings</h2>

<div class="user-list">

  <ul>
    <% @users.each do | user | %>
    <li class="user-list">
      <h3><%= user.user_name %></h3>
      
      <div class="user-edit-button"">
      <a href="/users/<%= user.id%>/edit"> Edit</a>
      </div>
    </li>
    <%end%>
  </ul>

  </div>

</div>
