<div class="transactions-new">

  <h2><i class="fas fa-list-ul"></i> New Transaction</h2>

  <div class="transaction-form">

    <form class="new-transaction-form" action="/transactions" method="post">
      <input type="hidden" name="user_id" value="1">

      <!-- AMOUNT? -->

      <div class="amount-and-date">

        <div class="new-trans-amount">

          <label for="amount">Amount:</label>
          <input id="amount" type="text" name="amount"/>

        </div>

      <!-- DATE? -->

        <div class="new-trans-date">

          <label class="date" for="date">Date:</label>
          <input type="date" name="transaction_date">

        </div>

      </div>

      <!-- MERCHANT ID? -->
      <div class="merchant-and-category">

        <div class="new-trans-merchant">

        <label class="merchant-id-input" for="merchant-id">Merchant Name:</label>

        <select id="merchant-id" name="merchant_id">
          <% @merchants.each do | merchant | %>
          <option value=<%= merchant.id %>>
            <%= merchant.merchant_name %></option>
          <% end %>
          </select>

          </div>

        <!-- TRANSACTION TYPE? -->

          <div class="new-trans-category">

          <label for="category-id">Transaction Type:</label>

          <select id="category-id" name="category_id">
            <% @categories.each do | category | %>
            <option value=<%= category.id %>>
              <%= category.transaction_type %></option>
            <% end %>
          </select>

          </div>

        </div>


          <input class="log-transaction" type="submit" value="Log Transaction"/>


    </form>

  </div>

</div>
