<div class="">

  <form class="" action="/transactions" method="post">
    <input type="hidden" name="user_id" value="1">

    <!-- AMOUNT? -->

    <label for="amount">Amount:</label>
    <input id="amount" type="text" name="amount"/>

    <!-- DATE? -->

    <label class="date" for="date">Date:</label>
    <input type="date" name="transaction_date">

    <!-- MERCHANT ID? -->

    <label for="merchant-id">Merchant Name:</label>
    <select id="merchant-id" name="merchant_id">
      <% @merchants.each do | merchant | %>
      <option value=<%= merchant.id %>>
        <%= merchant.merchant_name %></option>
      <% end %>
      </select>

      <!-- TRANSACTION TYPE? -->

      <label for="category-id">Transaction Type:</label>
      <select id="category-id" name="category_id">
        <% @categories.each do | category | %>
        <option value=<%= category.id %>>
          <%= category.transaction_type %></option>
        <% end %>
      </select>

    <input type="submit" value="Log Transaction"/>

  </form>

</div>
